<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
<link  rel="stylesheet" href="/styles/style.css">    
</head>
<body>
    <header id="header" class="header">
     
        <nav>
          <ul class="test">
            <li><a href="home">Home</a></li>
            <li><a href="startups">Startups</a></li>
            <li><a href="showinvestors">Investors</a></li>
            <li><a href="inbox">Inbox</a></li>
          </ul>

        </nav>

    </header>

    <div class="container">
        <div class="text-content">
          <h1>Find Your next Unicorn</h1>
          <p>Join this platform and connect to the best business Startups
            and to get the funding from the one of the best investors
            </p>
          <button class="join-btn">Join Now</button>
        </div>
        <div class="container-img">
          <img src="main.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="people">
        <ul class="tabs">
          <li class="investors"><a href="#">Investors</a></li>
          <li class="startups"><a href="#">Startups</a></li>
        </ul>
     
        <div class="table-data">
          <table>
            <thead>
                <tr>
                    <th>No</th>    
                <th>Company Name</th>
                <th>Description</th>
                <th>Founded</th>
                <th>Business Model</th>
                <th>Employees</th>
                <th>Funding Stage</th>
                <th>Total Raised</th>
                <th>Tags</th>
              </tr>  
            </thead>
          
            <% if(data.length){

                for(var i = 0; i< data.length; i++) {%>  
                <tr>
                  <th scope="row"><%= (i+1) %></th>
                  <td>
                    <a href="/sendmessage?id=<%= data[i]._id%>" >
                      
                
                    <%= data[i].CompanyName%>
                </a>    
                </td>
                  <td><%= data[i].Description%></td>
                  <td><%= data[i].Fundedin%></td>
                  <td><%= data[i].BType%></td>
                  <td><%= data[i].Employees%></td>
                  <td><%= data[i].FundingStage%></td>
                  <td><%= data[i].TotalRaised%></td>
                  <td><%= data[i].Tags%></td>
                </tr>
                <% }
                        
                 }else{ %>
                     <tr>
                        <td colspan="3">No user</td>
                     </tr>
                  <% } %>    
               
<!--            <tr class="table-head">
              <th>Company Name</th>
              <th>Description</th>
              <th>Founded</th>
              <th>Business Model</th>
              <th>Employees</th>
              <th>Funding Stage</th>
              <th>Total Raised</th>
            </tr>
            <tr class="details-row">
              <td>Jainam Software</td>
              <td>The startup that creates NBFC softwares</td>
              <td>2018</td>
              <td>B2B</td>
              <td>25</td>
              <td>pre-funding</td>
              <td>500000 </td>
            </tr>
            <tr class="details-row">
              <td>Jainam Software</td>
              <td>The startup that creates NBFC softwares</td>
              <td>2018</td>
              <td>B2B</td>
              <td>25</td>
              <td>pre-funding</td>
              <td>500000 </td>
            </tr>
        -->      </table>


        </div>
    









    </div>
    <!-- This table tab is closing -->

    <!-- For chat section -->


      <div class="chat-icon">
          <div class="chat-box" id="chat-box">
           
             <div class="cancel-chat">
              <p class="cancel-btn" id="cancel-btn">X</p>
             </div>
          </div>
          <button class="chat-btn">Chat</button>
       
      </div>

    
  
    





    <script src="script.js"></script>
</body>
</html>