<!--<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">

      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>

        <div class="card">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
              <li class="p-2 border-bottom" style="background-color: #eee;">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    
                      <p class="fw-bold mb-0">John Doe</p>
                      <p class="small text-muted">Hello, Are you there?</p>
                    
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Just now</p>
                    <span class="badge bg-danger float-end">1</span>
                  </div>
                </a>
              </li>
          
        </ul>

      </div>

    </div>

  </div>
</section>

  
<li class="bg-white mb-3">
  <div class="form-outline">
    <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
    <label class="form-label" for="textAreaExample2">Message</label>
  </div>
</li>
<button type="button" class="btn btn-info btn-rounded float-end">Send</button>




<%
if(data.length)
  {for(var i = 0; i< data.length; i++) {%>
<li>
  <h4>

    <a href="/s?id=<%= data[i].recieverid%>" >
                      
                
      <%=data[i].messages[0].name   %>
    <%=data[i].messages[data[i].messages.length-1].msg%>
    
  </a>
   
  </h4>
</li>
<br>
<%}%>
  <%}%>-->



  <head>
    <style>
      .container {
        max-width: 1170px;
        margin: auto;
      }
  
      img {
        max-width: 100%;
      }
  
      .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
      }
  
      .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
      }
  
      .top_spac {
        margin: 20px 0 0;
      }
  
  
      .recent_heading {
        float: left;
        width: 40%;
      }
  
      .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
      }
  
      .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
      }
  
      .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
      }
  
      .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
      }
  
      .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
      }
  
      .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
      }
  
      .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
      }
  
      .chat_ib h5 span {
        font-size: 13px;
        float: right;
      }
  
      .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
      }
  
      .chat_img {
        float: left;
        width: 11%;
      }
  
      .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 80%;
      }
  
      .chat_people {
        overflow: hidden;
        clear: both;
      }
  
      .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
      }
  
      .inbox_chat {
        height: 550px;
        overflow-y: scroll;
      }
  
      .active_chat {
        background: #ebebeb;
      }
  
      .incoming_msg_img {
        display: inline-block;
        width: 6%;
      }
  
      .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 90%;
      }
  
      .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
      }
  
      .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
      }
  
      .received_withd_msg {
        width: 57%;
      }
  
      .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 50%;
      }
  
      .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
      }
  
      .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
      }
  
      .sent_msg {
        float: right;
        width: 46%;
      }
  
      .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
      }
  
      .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
      }
  
      .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
      }
  
      .messaging {
        padding: 0 0 50px 0;
      }
  
      .msg_history {
        height: 516px;
        overflow-y: auto;
      }
    </style>
  </head>
  
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">
  <div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <%=data%>
           
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <%
                    if(data.length){ %>
                      <% for(var i = 0; i< data.length; i++) {
                        for(var j = 0; j< data[i].messages.length; j++) { %>
                          <p>
                            <%=data[i].messages[j].msg%>
                          </p>
                          <br>
                        <%}%>
                      <%}%>
                  <%}%>
                  <span class="time_date"> 11:01 AM | June 9</span>
                </div>
              </div>
            </div>
          </div>
            <div class="type_msg">
              <div class="input_msg_write">

                
                <form action="/sendmessage" method="post">
                  <div class="container">
              
              
              
              
                    <input type="text" placeholder="Enter msg" name="message" id="message" required>
                    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              
                  </div>
              
              </form>

                </div>
            </div>
          <!--
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" name="msg" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  





<!--
  <form action="/sendmessage" method="post">
    <div class="container">




      <input type="text" placeholder="Enter msg" name="message" id="message" required>
      <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>

    </div>

</form>-->